advent-of-code-data==2.0.1
aocd-example-parser==2023.12.12
beautifulsoup4==4.12.2
boto==2.49.0
certifi==2023.11.17
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.0
idna==3.6
kiwisolver==1.4.5
lxml==4.9.3
matplotlib==3.8.2
networkx==3.2.1
numpy==1.26.2
packaging==23.2
Pebble==5.0.5
Pillow==10.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
requests==2.31.0
shapely==2.0.2
six==1.16.0
soupsieve==2.5
urllib3==2.1.0
z3==0.2.0
z3-solver==4.12.4.0
